<base href="{{ base_href }}">
    <title>{{ app_name }}</title>
    <meta name="description" content="{{ app_description }}">
    <meta name="csp-nonce" content="{{ csp_nonce }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ app_name }}">
    <meta property="og:title" content="{{ app_name }}">
    <meta property="og:description" content="{{ app_description }}">
