{% extends "layout.html.j2" %}
{% block subject %}{% include "frag." ~ locale ~ ".email_verification.subject" %}{% endblock %}
{% block content %}
<p>{% if recipient_name %}{% include "frag." ~ locale ~ ".common.greeting" %}{% endif %}</p>
<p>{% include "frag." ~ locale ~ ".email_verification.body" %}</p>
<p><a href="{{ action_url }}">{% include "frag." ~ locale ~ ".email_verification.action" %}</a></p>
<p>{% include "frag." ~ locale ~ ".email_verification.expiry" %}</p>
{% endblock %}
