{% extends "layout.html.j2" %}
{% block subject %}{% include "frag." ~ locale ~ ".invite.subject" %}{% endblock %}
{% block content %}
<p>{% if recipient_name %}{% include "frag." ~ locale ~ ".common.greeting" %}{% endif %}</p>
<p>{% include "frag." ~ locale ~ ".invite.body" %}</p>
<p><a href="{{ action_url }}">{% include "frag." ~ locale ~ ".invite.action" %}</a></p>
<p>{% include "frag." ~ locale ~ ".invite.expiry" %}</p>
{% endblock %}
