{% if recipient_name %}{% include "frag." ~ locale ~ ".common.greeting" %}

{% endif %}{% include "frag." ~ locale ~ ".password_reset.body" %}

{% include "frag." ~ locale ~ ".password_reset.action" %}: {{ action_url }}

{% include "frag." ~ locale ~ ".password_reset.expiry" %}

{% include "frag." ~ locale ~ ".common.ignore" %}

{% include "frag." ~ locale ~ ".common.footer" %}
